body{
    background-color: rgb(249, 176, 252);
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
}
button{
    background-color: rgb(255, 0, 191);    
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 15px;
}
p{
   font-size: 23px; 
}
.passo{
    display: none
}
.passo.ativo{
    display:block
}
main{
        max-width: 90%;
        text-align: center;
}
img{
    margin-top: 15px;
}